@model WebApplication1.Models.Student

@{
    ViewBag.Title = "Edit";
}

@section Header {
<h2>Edit Student</h2>
}

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.EditorForModel()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
